@model List<TeamMember>
@foreach (TeamMember item in Model)
{
    <div class="team-member col-md-4">
        <img class="team-member-img img-fluid rounded-circle p-4" src="@item.ImagePath" alt="Card image">
        <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
            <li>@item.FullName</li>
            <li>@item.Profession</li>
        </ul>
    </div>
}