@model List<RecentWorks>
<div class="recent-work-header row text-center pb-5">
    <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">Recent Works</h2>
</div>
<div class="row gy-5 g-lg-5 mb-4">

    @Html.Partial("_RecektPartialViews")


</div>